<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer5.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Area</th>
                    <th>Name</th>
                    <th>Added By</th>
                </tr>
                </thead>
                <tbody>
                {{#each islands}}
                    <tr>
                        <td> {{area}} </td>
                        <td> {{name}} </td>
                        <td> {{addedBy.firstName}} {{addedBy.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>