<section class="ui raised segment">
    <div class="ui grid">
        <article>
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {{#each users}}
                    <tr>
                        <td> {{firstName}} </td>
                        <td> {{lastName}} </td>
                        <td> {{email}} </td>
                        <td>
                            <a href=/deleteuser/{{id}}" class="ui red icon button">
                                <i class="icon trash"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>